<div class="flex-row firm-list-header">
    <h2>Firms</h2>
    <button mat-flat-button routerLink="../new-firm">
        <mat-icon>add_outlined</mat-icon>
        Create
    </button>
</div>

<mat-form-field class="search-field">
    <mat-label>Fuzzy Search</mat-label>
    <input type="text" placeholder="Fuzzy Search" matInput [formControl]="fuzzyControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<div class="mat-elevation-z8 table-responsive">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
                <div>Name</div>
                <mat-form-field class="filter" floatLabel="never">
                    <mat-label>Search</mat-label>
                    <input matInput [formControl]="nameFilter">
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element">{{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>
                <div>Status</div>
                <mat-form-field class="filter" floatLabel="never">
                    <mat-label>Search</mat-label>
                    <input matInput [formControl]="statusFilter">
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="contact">
            <th mat-header-cell *matHeaderCellDef>
                <div>Contact</div>
                <mat-form-field class="filter" floatLabel="never">
                    <mat-label>Search</mat-label>
                    <input matInput [formControl]="contactFilter">
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
        </ng-container>

        <ng-container matColumnDef="tags">
            <th mat-header-cell *matHeaderCellDef>
                <div>Tags</div>
                <mat-form-field class="filter" floatLabel="never">
                    <mat-label>Search</mat-label>
                    <input matInput [formControl]="tagsFilter">
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.tags}} </td>
        </ng-container>

        <ng-container matColumnDef="paymentDue">
            <th mat-header-cell *matHeaderCellDef>
                <div>Payment Due </div>
                <mat-form-field class="filter" floatLabel="never">
                    <mat-label>Search</mat-label>
                    <input matInput [formControl]="paymentDueFilter">
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.paymentDue}} </td>
        </ng-container>

        <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef>
                <div>Creation Date</div>
                <mat-form-field class="filter" floatLabel="never">
                    <mat-label>Search</mat-label>
                    <input matInput [formControl]="creationDateFilter">
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.creationDate}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator *ngIf="!(isHandset$ | async)" #paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons>
    </mat-paginator>
</div>