:host {
    width: 100%;
    overflow: inherit;
    overflow-x: hidden;
    padding: 48px;
}

.firm-list-header {
    justify-content: space-between;
}

h2 {
    margin: 0 0 8px;
}

.search-field {
    width: 100%;
}

table {
    width: 100%;
}

th.mat-header-cell {
    padding: 8px 5px 5px;

    & mat-form-field {
        max-width: 160px;
    }
}

@media screen and (max-width: 700px) {
    :host {
        padding: 16px;
    }

    .table-responsive {
        padding: 0 12px;

        table {
            display: block;
            overflow-x: auto;

            .mat-table {
                width: 100%;
                max-width: 100%;
                margin-bottom: 1rem;
                display: table;
                border-collapse: collapse;
                margin: 0px;
            }

            .mat-row,
            .mat-header-row {
                display: table-row;
            }

            .mat-cell,
            .mat-header-cell {
                word-wrap: initial;
                display: table-cell;
                padding: 0px 5px;
                line-break: unset;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                vertical-align: middle;
            }
        }
    }
}