:host {
    width: 100%;
    overflow: inherit;
    overflow-x: hidden;
    padding: 48px;
}

.new-firm-header {
    justify-content: space-between;
}

h2 {
    margin: 0 0 8px;
}

.new-firm-form {
    border: 1px solid;
    border-radius: 5px;
    padding: 24px 24px 12px;
    margin-top: 8px;
}

.primary-contact {
    padding: 12px 0;
    font-size: 16px;
    font-weight: 500;
}

.referral-sales {
    padding-top: 12px;

    // & mat-form-field {
    //     width: 50%;
    //     margin-right: 60px;
    // }
}

mat-form-field {
    width: 300px;
    margin-right: 60px;
}

@media screen and (max-width: 700px) {
    :host {
        padding: 16px;
    }

    .new-firm-form {
        padding: 16px;
    }

    mat-form-field {
        width: 100%;
        margin-right: 0;
    }
}