:host {
    width: 100%;
    overflow: inherit;
    overflow-x: hidden;
    padding: 48px;
}

.new-workflow-header {
    justify-content: space-between;
}

h2 {
    margin: 0 0 8px;
}

.buttons-handset-view {
    display: none;

    & button {
        margin-bottom: 8px;
    }
}

.buttons-desktop-view {
    justify-content: space-between;
}

mat-form-field {
    width: 25%;
}

.mat-tab-group {
    border: 1px solid;
    border-radius: 4px;
    margin-top: 8px;
}

.tab-icon {
    margin-right: 8px;
}

.tab-content {
    flex: 1 1 auto;
    padding: 20px;
}

.mat-accordion .mat-expansion-panel:first-of-type {
    margin-top: 16px;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1), 0px 0px 0px 0px rgba(0, 0, 0, 1), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.panel-header,
.mat-expansion-panel-header.mat-expanded:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

mat-panel-title,
mat-panel-description {
    background-color: inherit;
    color: inherit;
    align-items: center;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background: rgba(0, 0, 0, 0.04);
    color: rgba(0, 0, 0, 0.9);
}

.mat-expansion-panel-header.mat-expanded:hover {
    background: rgba(0, 0, 0, 0.04);
    color: rgba(0, 0, 0, 0.87);
}

.section-body {
    padding-top: 16px;
}

.question {
    max-width: 75%;
}

.questions {
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
}

.mandatory {
    color: red;
    margin-right: 8px;
}

app-dynamic-elements-form mat-form-field {
    width: 50%;

}

@media screen and (max-width: 700px) {
    :host {
        padding: 16px;
    }

    .buttons-handset-view {
        display: flex;
        justify-content: space-between;
    }

    .buttons-desktop-view button {
        display: none;
    }

    mat-form-field {
        width: 100%;
    }

    .tab-content {
        padding: 16px 12px;
    }
}