/* You can add global styles to this file, and also import other style files */
@import './external/styles/variables.scss';
@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
//$custom-typography: mat-typography-config($font-family: '"Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif');
$scj-typography: mat-typography-config($font-family: 'Roboto, "Helvetica Neue", sans-serif');

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($scj-typography);

// Override the typography in the core CSS.
@include mat-core($scj-typography);

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
}

.material-icons {
    font-family: 'Material Icons Outlined';
}

.mat-flat-button {
    color: blue;
}

.stepper-tabs .mat-horizontal-stepper-header-container .mat-horizontal-stepper-header {
    height: 40px;
}

.personal-grid .mat-grid-tile .mat-figure {
    justify-content: flex-start !important;
    align-items: baseline;

    & app-dynamic-elements-form {
        flex: 1 1 auto;
    
        & mat-form-field{
            width: 50%;
        }
    }
}

app-new-workflow .mat-tab-label.mat-tab-label-active {
    color: blue;
}

.dynamic-dialog-form-panel {
    background-color: rgb(255, 255, 255);
}

.dynamic-dialog-form-backdrop {
    background-color: rgba(212, 197, 197, 0.3);
}

.file-upload-panel {
    background-color: rgb(255, 255, 255);
}

.file-upload-backdrop {
    background-color: rgba(212, 197, 197, 0.3);
}