:host {
    width: 100%;
    overflow: inherit;
    overflow-x: hidden;
    padding: 48px;
}

.firm-tags {
    flex-grow: 0.1;
}

.tab-content {
    flex: 1 1 auto;
    padding: 20px;
}

@media screen and (max-width: 700px) {
    :host {
        padding: 16px;
    }

    .tab-content {
        padding: 16px 12px;
    }
}