<div class="flex-row">
    <div class="firm-tags">
        <div>Firm Name</div>
        <div>Firm Tags</div>
    </div>

    <div>
        <div>Firm Email</div>
        <div>Firm Phone</div>
    </div>
</div>

<mat-tab-group>
    <mat-tab *ngFor="let tab of tabs">
        <ng-template mat-tab-label>
            {{tab}}
        </ng-template>

        <ng-template matTabContent>
            <div class="flex-column tab-content">
                {{tab}} Component goes here
                <app-new-workflow *ngIf="tab === 'Workflows'"></app-new-workflow>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>